html {
  --text-color: #26325c;
  --text-selection-background-color: #b4d7ff;
  --text-inverted-color: #fff;
  --text-secondary-color: #83899F;
  --text-secondary-color-60: rgba(131, 137, 159, 0.6);
  --text-secondary-color-80: rgba(131, 137, 159, 0.8);
  --text-tertiary-color: #26325c;
  --dark-color: #26325c;
  --dark-color-10: rgba(38, 50, 92, 0.1);
  --dark-color-20: rgba(38, 50, 92, 0.2);
  --dark-color-25: rgba(38, 50, 92, 0.25);
  --dark-color-50: rgba(38, 50, 92, 0.5);
  --dark-color-75: rgba(38, 50, 92, 0.75);
  --dark-color-05: rgba(38, 50, 92, 0.05);
  --grey-color: #83899F;
  --grey-color-25: rgba(131, 137, 159, 0.25);
  --grey-color-50: rgba(131, 137, 159, 0.5);
  --grey-color-60: rgba(131, 137, 159, 0.6);
  --grey-color-20: rgba(131, 137, 159, 0.2);
  --light-color: #fff;
  --light-color-02: rgba(255, 255, 255, 0.02);
  --light-color-10: rgba(255, 255, 255, 0.1);
  --light-color-25: rgba(255, 255, 255, 0.25);
  --light-color-30: rgba(255, 255, 255, 0.30);
  --light-color-40: rgba(255, 255, 255, 0.4);
  --light-color-50: rgba(255, 255, 255, 0.5);
  --light-color-70: rgba(255, 255, 255, 0.7);
  --light-color-75: rgba(255, 255, 255, 0.75);
  --background-color: #fff;
  --background-color-dark: #0d0c1d;
  --background-secondary-color: #fff;
  --background-inverted-color: #131A2F;
  --background-tertiary-color: rgba(69, 76, 238, 0.05);
  --backdrop-color: rgba(255, 255, 255, 0.75);
  --line-color: #E8EBEF;
  --line-color-25: rgba(232, 235, 239, 0.25);
  --main-variant-color: #2d35ee;
  --main-color: #454cee;
  --main-color-05: rgba(69, 76, 238, 0.05);
  --main-color-10: rgba(69, 76, 238, 0.1);
  --main-color-20: rgba(69, 76, 238, 0.2);
  --main-color-30: rgba(69, 76, 238, 0.3);
  --main-color-50: rgba(69, 76, 238, 0.5);
  --danger-color: #ea4335;
  --danger-color-10: rgba(234, 67, 53, 0.1);
  --danger-color-20: rgba(234, 67, 53, 0.2);
  --danger-color-50: rgba(234, 67, 53, 0.5);
  --danger-color-70: rgba(234, 67, 53, 0.7);
  --danger-color-80: rgba(234, 67, 53, 0.8);
  --success-color: #1cc14d;
  --success-color-10: rgba(28, 193, 77, 0.1);
  --warning-color: #f2c94c;
  --warning-color-10: rgba(242, 201, 76, 0.1);
  --warning-color-25: rgba(242, 201, 76, 0.25);
  --title-color: #26325c;
  --surface-color: #F8F9FA;
  --surface-color-variant: #FFF;
  --tertiary-color: #F8F9FA;
  --tertiary-variant-color: rgba(38, 50, 92, 0.1);
  --orange-color: #EB501E;
  --box-shadow: 0px 4px 12px rgba(5, 12, 38, 0.12);
    --border-radius-giant: 12px;
  --border-radius-large: 12px;
  --border-radius-medium: 8px;
  --border-radius-small: 4px;
  --transition-duration: 0.2s;
  --transition-function: ease-in-out;
  --default-table-row-grid: minmax(0, 6fr) minmax(0, 3fr) minmax(0, 6fr) minmax(0, 2fr);
  --background-dark: #26325C;
  --text-inverse: #FFFF;
  --background-plate: #F8F9FA;
  --blue-color: #C7C9FA;
  --terminal-background: #242F3D;
}

@media (prefers-color-scheme: dark) {
  html {
    --surface-color: #242F3D;
    --surface-color-variant: #39495E;
    --background-color: #0d0c1d;
    --background-secondary-color: #242F3D;
    --background-tertiary-color: #242F3D;
    --background-inverted-color: #fff;
    --text-color: #fff;
    --text-selection-background-color: #6c727a;
    --text-inverted-color: #26325c;
    --text-secondary-color: #7F91A4;
    --text-tertiary-color: #7F91A4;
    --backdrop-color: #0d0c1d;
    --title-color: #fff;
    --line-color: #2C3743;
    --danger-color: #FF6270;
    --success-color: #70CF98;
    --warning-color: #f2c94c;
    --grey-color: #7F91A4;
    --grey-color-50: rgba(127, 145, 164, 0.5);
    --main-color: #7177F8;
    --main-variant-color: #525AFF;
    --secondary-color: rgba(127, 145, 164, 0.5);
    --secondary-variant-color: rgba(127, 145, 164, 0.7);
    --tertiary-color: #242F3D;
    --tertiary-variant-color: #39495E;
    --surface-color-50: rgba(36, 47, 61, 1);
  }
}
